#outdated_container {
  font-family: Flanders Art;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #FBE6E6;
}

#outdated {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 1040px;
  overflow: auto;
  background: #FBE6E6 !important;
}

#outdated > h6 {
  padding: 5px;
  overflow: auto;
  margin: 0px;
  font-size: 14px;
}

#outdated > h6 > div {
  color: #333;
}

#outdated > h6 .icon {
  float: left;
  font-family: vlaanderen_iconfont;
  background: #DB3434;
  color: #FFF;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 2px 8px 2px 0px;
}

#outdated > h6 .icon:before {
  content: "\E032";
}

#outdated > h6 .title {
  font-weight: 500;
}

#outdated > h6 div {
  font-weight: normal;
}

#outdated > h6 > #outdated_container {
  overflow: auto;
}

#outdated > h6 > #outdated_title {
  font-weight: bold;
}

#outdated > p {
  display: none;
}

#outdated a {
  color: #333;
}